<div data-step="1" data-intro="   Menu de navegacion">
    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a href="index.html">Inicio</a></li>
        <li class="buscar"><a href="index.html#about">Conózcanos</a></li>
        <!--li><a href="#services">Servicios</a></li-->
        <!--li><a href="#portfolio">Portfolio</a></li-->
        <li class="drop-down"><a href="index.html#services">Servicios</a>
          <ul>
            <!--li><a href="#">Drop Down 1</a></li-->
            <li class="drop-down"><a href="Auditoria.html">Auditoría</a>
              <ul>
                <li class="buscar"><a href="Auditoria.html#audiI">Auditoria interna</a></li>
                <li class="buscar"><a href="Auditoria.html#audiE">Auditoria externa</a></li>
                <!--li><a href="#">Deep Drop Down 3</a></li-->
                <!--li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li-->
              </ul>
            </li>
            <li class="buscar"><a href="Consultorias.html">Consultorías</a></li>
            <li class="buscar"><a href="Negociaciones.html">Negociaciones</a></li>
            <li class="buscar"><a href="DiseñoPoliticas.html">Diseño de Políticas</a></li>
            <!--li><a href="TrabajosEspeciales.html">Trabajos Especiales</a></li-->
          </ul>
        </li>
        <li class="buscar"><a href="EquipoDes.html">Equipo</a></li>
        <li class="buscar"><a href="index.html#contact">Contáctenos</a></li>
      <li class="buscar"><div id="ctn-icon-search" data-position="left" data-step="2" data-intro="   Buscador interno">
        <i class="fas fa-search" id="icon-search"></i></div>
        </li>

      </ul>
    </nav><!-- .nav-menu -->
</div>
