<div class="contenedorServicio"> <!--container-->
      
    <header>Selecciona un Servicio</header>

    <div class="seleccionServ">
      <p class="servicio">Servicio:</p>
      <select id="selectServ">
        <option value="">Seleccione un servicio</option>
        <option>Servicio 1</option>
        <option>Servicio 2</option>
        <option>Servicio 3</option>
      </select>
    </div>

    <div class="contenidoServ">
      <div class="nombreServ">
        <p class="labelNombre"><b>Nombre del Servicio:</b></p>
        <p class="contenidoNombre">Servicio 1 [Ejemplo]</p>
      </div>
      <div class="descServ">
          <p class="labelDescripcion"><b>Descripcion:</b></p>
          
          <textarea readonly="true">
            Loren Ipsum regerr rrrrrrrrrrrrrrr rrrrrrrrrrrrrrgrgwergrrrrrrr rrrrrrrrrrrrrrrrrrrrgwergwergewrgwergwegewrg wergwerfbwefbveuytfvberwuy fvweuyrfvjewrhfvbwjerhfvwejrhfvwejkrhvfwe rjhvfwjekrhvfkwejrhvfg
          </textarea>
      </div>
    </div>
    
  </div>

